<nav class="navbar-ligh bg-primary" > 
<div class="container-fluid">

	<div class="d-flex justify-content-between">
		<h1 style="color: white;">Angular Crud</h1>
	<button (click)="clickAddEmploy()"  type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" >Add Employee</button>
	</div>
</div>
</nav>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]=formValue>
		  <div class="mb-3">
		    <label for="exampleInputEmail1" class="form-label">First Name</label>
		    <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
		  </div>
		  <div class="mb-3">
		    <label for="exampleInputPassword1" class="form-label">Last Name</label>
		    <input type="text" formControlName="lastName" class="form-control" id="exampleInputPassword1">
		  </div>
		  <div class="mb-3">
		    <label for="exampleInputPassword1" class="form-label">email</label>
		    <input type="email" formControlName="email" class="form-control" id="exampleInputPassword1">
		    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
		  </div>
		  <div class="mb-3">
		    <label for="exampleInputPassword1" class="form-label">mobile number</label>
		    <input type="text" formControlName="mobile" class="form-control" id="exampleInputPassword1">
		  </div>
		  <div class="mb-3">
		    <label for="exampleInputPassword1" class="form-label">salary</label>
		    <input type="text" formControlName="salary" class="form-control" id="exampleInputPassword1">
		  </div>
		</form>
      </div>
      <div class="modal-footer">
        <button id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary">Add employee</button>
        <button type="button" *ngIf="showUpdate" (click)="updateEmployeeDetails()" class="btn btn-primary">update</button>
      </div>
    </div>
  </div>
</div>


<table class="table">
	<thead>
		<tr>
			<th scope="col">Employee ID</th>
			<th scope="col">firstName</th>
			<th scope="col">Last Name</th>
			<th scope="col">Email Name</th>
			<th scope="col">Mobile</th>
			<th scope="col">Salary</th>
			<th scope="col">Action</th>
		</tr>
	</thead>

	<tbody>
		<tr *ngFor="let row of employeeData">
			<td>{{row.id}}</td>
			<td>{{row.firstName}}</td>
			<td>{{row.lastName}}</td>
			<td>{{row.email}}</td>
			<td>{{row.mobile}}</td>
			<td>{{row.salary}}</td>
			<td>
				<button (click)="onEdit(row)" class="btn btn-info" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">edit</button>
				<button (click)="deleteEmployee(row)" class="btn-danger mx-2">delete</button>
			</td>
		</tr>
	</tbody>
</table>
	